[name='category'] {
  .form-check {
    flex: 1;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    cursor: pointer;

    &:nth-child(1) {
      margin-right: 2rem;
    }

    &:hover {
      background-color: rgba(211, 211, 211, 0.253);
    }

    label {
      display: block;
      cursor: pointer;
    }
  }
}
